.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

.service-border{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 370px;
    height: 350px;
}

.service-img{
    /* height: 350px;
    width: 450px; */
    width: 350px;
    height: 300px;
    margin: 0;
    padding: 0;
    /* background: #F4F4F4; */
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 40px 1px silver;
    -moz-box-shadow: 0px 0px 40px 1px silver;
    box-shadow: 0px 0px 40px 1px silver;
}

.service-name{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Open Sans';

}

/* zoom sur image */
.zoom div img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    outline: 2px solid silver;
}
.zoom div:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    outline: 0.2px solid silver;
    -webkit-box-shadow: 0px 0px 41px 10px silver;
    -moz-box-shadow: 0px 0px 41px 10px silver;
    box-shadow: 0px 0px 41px 10px silver;

}